<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987384037764-900umrcc55elmnmh9n9r4dsosjpgroac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987384037764-900umrcc55elmnmh9n9r4dsosjpgroac</string>
	<key>API_KEY</key>
	<string>AIzaSyBPKpSi1Dwfrs_vBEQf2wiccNeL2Rg--Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>987384037764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diary.piscine.app42</string>
	<key>PROJECT_ID</key>
	<string>diary-app-pgiraude</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-app-pgiraude.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987384037764:ios:29f269f131e1d6d908ddd1</string>
</dict>
</plist>